### use # to comment out the configure item

### I/O ###
train_dir=/Users/feili/Desktop/umass/MADE/debug/ncrfpp.txt
dev_dir=/Users/feili/Desktop/umass/MADE/debug_test/ncrfpp.txt
test_dir=
model_dir=made/lstmcrf
word_emb_dir=/Users/feili/project/emb_100_for_debug_without_head.txt
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
feature=[POS] emb_size=20
feature=[Cap] emb_size=20

###TrainingSetting###
status=train
optimizer=Adam
iteration=100
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
#gpu
#clip=
